<div class="tabs">
  @for (a of accounts; track a) {
    @if (a.opened == 1) {
      <input type="radio" name="tab" [id]="'account-tab-' + a.id" [value]="a.id" [checked]="account == a" (change)="account = a; updateYears()"/>
      <label [for]="'account-tab-' + a.id">
        <span [style.backgroundImage]="'url(./assets/images/structures/' + a.bank + '.png)'"></span>
        {{ a.name }}
      </label>
    }
  }
</div>
<div class="tabs">
  @for (a of accounts; track a) {
    @if (a.opened != 1) {
      <input type="radio" name="tab" [id]="'account-tab-' + a.id" [value]="a.id" [checked]="account == a" (change)="account = a; updateYears()"/>
      <label [for]="'account-tab-' + a.id" class="closed">
        <span [style.backgroundImage]="'url(./assets/images/structures/' + a.bank + '.png)'"></span>
        {{ a.name }}
      </label>
    }
  }
</div>
@if (years) {
  <div class="tabs">
    @for (y of years; track y) {
      <input type="radio" name="years" [id]="'year-' + y" [value]="y" [(ngModel)]="year" (change)="updateContent()"/>
      <label [for]="'year-' + y">
        {{ y }}
      </label>
    }
  </div>
}
@if (year) {
  <div class="filters">
    Filtrer :
    <select [(ngModel)]="filter">
      <option></option>
      @for (t of types; track t) {
        <option [ngValue]="t.id">{{t.tag}}</option>
      }
    </select>
  </div>
}
@if (year) {
  <update-list [items]="result" [account]="account" [allIncome]="true" [filterTag]="filter"></update-list>
}