.closed {
	text-decoration: line-through;
}

label {
	span {
		display: block;
		width: 40px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
}

update-list {
	display: block;
}

#former-accounts {
	display: none;

	+ label + * {
		display: none;
	}

	&:checked + label + * {
		display: flex;
	}
}

.tabs {
	padding: 0 30px;
	
	label {
		width: 150px;
		line-height: 30px;
		font-size: .8em;

		> span {
			width: 30px; 
			height: 30px;
		}
	}
}