:host {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.content {
    overflow: auto;
    flex: 1;
}

.card {
    width: fit-content;
    margin: 0 auto;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

.ongoing {
    font-size: 1.5rem;
    font-weight: bold;
}

td {
    padding: .5rem 2rem;

    &:nth-last-child(2) {
        text-align: right;
    }

    &:last-child {
        text-align: left;
        font-style: italic;
        font-size: .8em;
        padding-left: .5em;
    }
}

tr.odd {
    background-color: rgb(243, 243, 243);
}