<h1>Prévisionnel {{year}}</h1>
<div class="content" *ngIf="items">
    <table>
        <tbody>
            <tr *ngFor="let item of items">
                <td><type *ngIf="item.tag.image" [icon]="item.tag" size="medium"></type>{{item.tag.title}}</td>
                <td>
                    <div class="meter">
                        <div class="done" [class.positive]="item.forecast > 0" [style.width.%]="item.current * 100 / item.forecast">
                            <span [amount]="[item.current, {alwaysSign: true, color: true}]"></span>
                        </div>
                        <div class="expected" [style.width.%]="item.expected * 100 / item.forecast">
                            <span [amount]="[item.expected, {alwaysSign: true}]"></span>
                        </div>
                    </div>
                </td>
                <td [amount]="[item.forecast, {alwaysSign: true, color: true}]"></td>
                <td>({{year - 1}} : <span [amount]="[item.previous, {alwaysSign: true}]"></span>)</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Fin d'année : </td>
                <td [amount]="[total, {alwaysSign: true, color: true}]"></td>
            </tr>
        </tfoot>
    </table>
</div>