:host {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.panel {
	flex: 1;
	text-align: center;
	font-size: 1.3em;
}

.top-panel {
	display: flex;
	flex-direction: column;
	flex: 2;

	> div {
		display: flex;
		flex-direction: row;
		gap: 5rem;

		+ div {
			flex: 1;
		}
	}
}

h2 {
	margin-top: 30px;
}

.waiting {
	font-size: .85rem;
	list-style: none;
	padding: 0 1rem;
	margin: 0 auto;
	max-width: 350px;

	li {
		display: flex;
		gap: .25rem;
		white-space: nowrap;
		justify-content: space-between;

		&:nth-child(even) {
			background-color: rgba(0, 0, 0, .025);
		}

		> span {
			&:first-child {
				display: inline-block;
				text-align: right;
				min-width: 40px;
			}

			&:nth-child(2) {
				font-weight: bold;
			}

			&:nth-child(3) {
				text-overflow: ellipsis;
				overflow: hidden;
				display: inline-block;
				width: 150px;
				flex: 1;
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}
		}
	}

	type {
		white-space: nowrap;
		display: inline-block;

		::ng-deep i {
			width: 20px;
			height: 20px;
		}
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	white-space: nowrap;
	min-width: 250px;

	li {
		overflow: visible;
		text-align: right;
		margin-bottom: 10px;

		.icon {
			display: block;
			width: 40px;
			height: 40px;
			margin-right: .5rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			float: left;
		}
	}

	&.actions {
		white-space: normal;
		columns: 4;
		column-gap: 0;

		li {
			font-size: .85rem;
			padding: .25rem .5rem;
			display: flex;
			position: relative;
			break-inside: avoid;
			margin-bottom: 0;

			&:nth-child(even) {
				background-color: rgba(0, 0, 0, .025);
			}

			.icon {
				width: 30px;
				height: 30px;
				position: relative;

				span {
					position: absolute;
					bottom: -7px;
					left: -7px;

					&.up {
						color: green;
					}

					&.down {
						color: red;
					}
				}
			}

			> div {
				white-space: nowrap;
				flex: 1;

				> span {
					margin-right: 5px;
				}
			}
		}

		.account-sum {
			font-size: 1.2em;

			> span:nth-child(2) {
				font-size: .8em;
				margin-right: 0;
				min-width: 56px;
				display: inline-block;
			}
		}
	}
}

table {
	margin: 0 auto;
}

.account-name {
	font-size: .9em;
}

.account-sum {
	font-size: 1em;
}

.stocks-count {
	font-size: .9em;
	position: relative;
	border-bottom: 1px solid gray;
	margin-left: 80px;
	padding-right: 18px;

	&::before {
		content: 'x';
		float: left;
	}

	&::after {
		content: 'actions';
		position: absolute;
		left: 100%;
		margin-left: -11px;
	}
}

bk-chart {
	display: block;
	margin: 30px auto 10px;
	width: 95%;
}

.thrift ul,
.fix {
	font-size: .9em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 15vw;
	margin: 0 auto;
	gap: 0 20px;

	.big {
		flex: 1 0 100%;
	}

	li:not(.big) {
		font-size: .75em;
		flex: 1 0 85px;

		> span {
			width: 30px;
			height: 30px;
		}

		> div {
			text-overflow: ellipsis;
    		overflow: hidden;
		}
	}
}

.evolutions {
	font-size: .55em;
	margin-top: -2px;
	opacity: .5;
	
	> span {
		display: inline-block;
		margin-right: .25rem;
	}
}