@import '../../../shared/styles/colors';

table {
	margin: 0 auto;
}

th {
	font-size: .9rem;
}

td {
	text-align: center;
	white-space: nowrap;

	type {
		display: inline-block;
		vertical-align: middle;
	}
}

input {
	&[type=date] {
		width: 125px;
	}

	&[type=text] {
		width: 160px;
	}

	&[type=number] {
		width: 80px;
		text-align: right;
	}

	&[type=datetime-local] {
		width: 126px;
	}
}

.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, .95);

	h1 {
		cursor: pointer;
		min-height: 2em;
	}

	> div {
		width: 60%;
		margin: 0 auto;
	}
}