:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

info-bar {
	flex: 0 0 auto;
}

.content {
	flex: 1 0 auto;
	position: relative;
	padding-left: 62.2px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

menu-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	text-align: left;
	z-index: 100;
}