@import '../../shared/styles/colors';

$bar-height: 20px;

.full-length {
    position: relative;
    height: $bar-height;
    background-color: lightgray;

    &.small {
        height: .7 * $bar-height;

        .current-length {
            height: .7 * $bar-height;

            span {
                font-size: .65em;
            }
        }
    }
}

.current-length {
    height: $bar-height;
    background-color: $color-tertiary;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;

    span {
        color: white !important;
        font-size: 14px;
        margin-right: 5px;
        margin-left: 5px;
        display: block;
    }
}