@use '../../shared/styles/colors' as colors;

$bar-height: 20px;

.full-length {
    position: relative;
    height: $bar-height;
    background-color: lightgray;

    &.small {
        height: .7 * $bar-height;

        .current-length {
            height: .7 * $bar-height;

            .amount {
                font-size: .65em;
            }
        }
    }
}

.current-length {
    height: $bar-height;
    background-color: colors.$color-tertiary;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;

    span {
        color: white !important;
        font-size: 14px;
        margin-right: 5px;
        margin-left: 5px;
        display: block;
    }

    .title {
        position: absolute;
        left: 4px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .7em;
        margin: 0;
        top: 2px;
        opacity: .7;
    }
}