:host {
	flex-direction: column;
	height: 100%;
	flex: 1 0 0;
}

h2 {
	margin-top: 20px;
}

.content {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: center;
}

table {
	border-collapse: collapse;
}

.action-icon {
	height: 30px;
}

td {
	text-align: right;
	padding: .25rem 2rem;
}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.025);
}

tfoot {
	border-top: 1px solid lightgray;
	font-size: 1.2em;
}

.columned {
	display: flex;
	gap: 100px;

	.columned {
		gap: 50px;
	}

	ul {
		list-style: none;
		text-align: right;
	}

	li {
		display: flex;
		gap: 1rem;
		margin-bottom: .5rem;

		> div {
			flex: 1;
			font-size: .85em;
			display: flex;
			gap: .5rem;
			align-items: center;

			> * {
				flex: 1;
			}

			span:last-child {
				font-size: 1.2em;
			}
		}
	}

	i {
		display: inline-block;
		width: 30px; 
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
}