:host {
	flex-direction: column;
	height: 100%;
	flex: 1 0 0;
}

h2 {
	margin-top: 20px;
}

.content {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	height: calc(100vh - 123px);
}

.action-icon {
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

bk-chart {
	display: block;
	height: 500px;	
}

tbody th {
	text-align: right;
}

.percent {
	display: block;
	font-style: italic;
	font-size: .9rem;
}