<h1>Bourse</h1>
<div class="content">
	<table>
		<thead>
			<tr>
				<th></th>
				<th style="text-align: left">Nom</th>
				<th>Valeur</th>
				<th colspan="2">Possédées</th>
				<th>Achetées</th>
				<th>Valeur totale</th>
				<th>Bénéfice</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cur of currents">
				<td style="text-align: center"><img [src]="'./assets/images/structures/' + getActionIcon(cur.actionCode) + '.png'" class="action-icon" /></td>
				<td style="text-align: left; padding-left: 0">{{ cur.actionCode }}</td>
				<td><span [amount]="[cur.value]"></span></td>
				<td style="padding-right: 0">{{ floor(cur.quantity) }}</td>
				<td style="text-align: left; padding-left: 0">{{ decimal(cur.quantity) }}</td>
				<td><span [amount]="[cur.initial]"></span></td>
				<td><span [amount]="[cur.value * cur.quantity]"></span></td>
				<td><span [amount]="[cur.profit | percent:'1.2', { alwaysSign: true, sign: '%', color: true }]"></span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td colspan="4">Total</td>
				<td><span [amount]="[sumInitial()]"></span></td>
				<td><span [amount]="[sumValue()]"></span></td>
				<td><span [amount]="[((sumValue() / sumInitial()) - 1) | percent:'1.2', { alwaysSign: true, sign: '%', color: true }]"></span></td>
			</tr>
		</tfoot>
	</table>
</div>