@for (room of data; track room) {
  <div class="room">
    <span class="name">{{ room.name }}</span>
    <div class="data">
      <div class="months">
        @for (m of room.data[0].months; track m) {
          <div>
            <span>{{ m.letter }}</span>
            <div class="chart-part">
              <span class="percent">
                @if (m.occupied !== 1 && m.occupied !== 0) {
                  {{ m.occupied | percent }}
                }
              </span>
              @for (d of m.days; track d) {
                <span class="day" [class.occupied]="d"></span>
              }
            </div>
          </div>
        }
      </div>
      <div class="years">
        @for (y of room.data; track y; let i = $index) {
          <div>
            <div [style.width.%]="y.occupied * 100"></div>
            <span>{{ y.year }}</span>
            <span>{{ y.occupied | percent }}</span>
          </div>
        }
      </div>
    </div>
  </div>
}
