<h1>Revenus</h1>
<div class="content">
	<div class="chart">
		<bk-chart
			[add]="true"
			[chartOptions]="chartOptions2"
			initialData="incomeDetailData"></bk-chart>
		<table *ngIf="perYear">
			<thead>
				<tr>
					<th></th>
					<th *ngFor="let label of getLabels()">{{ label }}</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let y of perYear">
					<tr *ngIf="y.year >= minYear">
						<th>{{ y.year }}</th>
						<td *ngFor="let label of getLabels()">
							<span [amount]="[getDataFromYear(y.data, label)?.value]"></span>
							<span class="evolution" *ngIf="label != 'Divers'" [class.minus]="getDataFromYear(y.data, label)?.evolution < 0">{{ getDataFromYear(y.data, label)?.evolution | percent:'1.0-1' }}</span>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
	<div class="chart">
		<table *ngIf="percentPerYear">
			<thead>
				<tr>
					<th></th>
					<ng-container *ngFor="let label of getLabels()">
						<th *ngIf="label != 'Divers'">{{ label }}</th>
					</ng-container>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let y of percentPerYear">
					<tr *ngIf="y.year >= minYear - 2">
						<th>{{ y.year }}</th>
						<ng-container *ngFor="let label of getLabels()">
							<td *ngIf="label != 'Divers'">{{ getDataFromYear(y.data, label)?.value | percent:'1.0-1' }}</td>
						</ng-container>
					</tr>
				</ng-container>
			</tbody>
		</table>
		<bk-chart
			[stackedPercent]="true"
			[chartOptions]="chartOptions"
			initialData="incomeData"></bk-chart>
	</div>
</div>