<h1><fa-icon [icon]="faMoneyBill"></fa-icon>Revenus</h1>
<div class="chart">
  <bk-chart
    [add]="true"
    [chartOptions]="chartOptions2"
    initialData="incomeDetailData"
  [minimum]="0"></bk-chart>
  @if (perYear) {
    <div class="card">
      <table>
        <thead>
          <tr>
            <th></th>
            @for (label of getLabels(); track $index) {
              <th>{{ label }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (y of perYear; track $index) {
            @if (y.year >= minYear) {
              <tr>
                <th>{{ y.year }}</th>
                @for (label of getLabels(); track $index) {
                  <td>
                    <span [amount]="[getDataFromYear(y.data, label)?.value]"></span>
                    @if (label != 'Divers') {
                      <span class="evolution" [amount]="[getDataFromYear(y.data, label)?.evolution | percent:'1.0-1', { alwaysSign: true, sign: '%', color: true, tag: true }]"></span>
                    }
                  </td>
                }
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  }
</div>
<div class="chart manual-chart">
  @if (percentPerYear) {
    <div class="card">
      <div class="row header">
        <div></div>
        @for (label of getLabels(); track $index) {
          @if (label != 'Divers') {
            <div>{{ label }}</div>
          }
        }
      </div>
      @for (y of percentPerYear; track $index) {
        @if (y.year >= minYear - 2) {
          <div class="row body">
            <div>{{ y.year }}</div>
            @for (label of getLabels(); track $index) {
              @if (label != 'Divers') {
                <div [style.flex]="getDataFromYear(y.data, label)?.value">
                  @if (getDataFromYear(y.data, label)?.value > 0) {
                    <span>{{ getDataFromYear(y.data, label)?.value | percent:'1.0-1' }}</span>
                  }
                </div>
              }
            }
          </div>
        }
      }
    </div>
  }
</div>