.tax-types {
    display: flex;

    > div {
        flex: 1;
    }

    table {
        margin: 0 auto;

        tr > * {
            padding: 5px 15px;
            border-top: 1px solid #ddd;
        }
    }
}