<ul>
  @if ((options$ | async); as options) {
    <li>
      <a routerLink="/" class="fa-home">Accueil</a>
    </li>
    @if (options['spending']) {
      <li>
        <a routerLink="/spending" class="fa-credit-card">Dépenses</a>
      </li>
    }
    @if (options['bills']) {
      <li>
        <a routerLink="/bills" class="fa-calendar-minus-o">Mensuelles</a>
      </li>
    }
    @if (options['month-ends']) {
      <li>
        <a routerLink="/month-ends" class="fa-calendar-plus-o">Fins de mois</a>
      </li>
    }
    @if (options['loans']) {
      <li>
        <a routerLink="/loans" class="fa-university">Prêts</a>
      </li>
    }
    <!--<li>
    <a routerLink="/forecast" class="fa-calculator">Prévisions</a>
  </li>-->
    @if (options['income']) {
      <li>
        <a routerLink="/income" class="fa-money">Revenus</a>
      </li>
    }
    @if (options['trade']) {
      <li>
        <a routerLink="/trade" class="fa-globe">Bourse</a>
      </li>
    }
    @if (options['retirement']) {
      <li>
        <a routerLink="/retirement" class="fa-suitcase">Retraite</a>
      </li>
    }
    @if (options['real-estate']) {
      <li>
        <a routerLink="/real-estate/29" class="fa-building">Arpège</a>
      </li>
    }
    @if (options['real-estate']) {
      <li>
        <a routerLink="/real-estate/30" class="fa-building">Boléro</a>
      </li>
    }
    @if (options['taxes']) {
      <li>
        <a routerLink="/taxes" class="fa-file-text">Impôts</a>
      </li>
    }
    @if (options['electricity']) {
      <li>
        <a routerLink="/electricity" class="fa-plug">Electricité</a>
      </li>
    }
    @if (options['travels']) {
      <li>
        <a routerLink="/travels" class="fa-plane">Voyages</a>
      </li>
    }
  }
  <li>
  <a routerLink="/admin" class="fa-cog">Admin</a>
</li>
</ul>