<ul>
	<li>
		<a routerLink="/" class="fa-home">Accueil</a>
	</li>
	<li>
		<a routerLink="/spending" class="fa-credit-card">Dépenses</a>
	</li>
	<li>
		<a routerLink="/month-ends" class="fa-calendar">Fins de mois</a>
	</li>
	<li>
		<a routerLink="/loans" class="fa-university">Prêts</a>
	</li>
	<!--<li>
		<a routerLink="/forecast" class="fa-calculator">Prévisions</a>
	</li>-->
	<li>
		<a routerLink="/income" class="fa-money">Revenus</a>
	</li>
	<li>
		<a routerLink="/trade" class="fa-globe">Bourse</a>
	</li>
	<li>
		<a routerLink="/travels" class="fa-plane">Voyages</a>
	</li>
	<li>
		<a routerLink="/real-estate" class="fa-building">Immobilier</a>
	</li>
	<li>
		<a routerLink="/taxes" class="fa-file-text">Impôts</a>
	</li>
	<li>
		<a routerLink="/admin" class="fa-cog">Admin</a>
	</li>
</ul>