<h1><fa-icon [icon]="faUniversity"></fa-icon>Prêts</h1>
@for (loan of loans | async; track $index) {
  <div class="card loan-row">
    <div class="image-container">
      <img [src]="'assets/images/loans/' + loan.image"/>
      <div class="image" [style.backgroundImage]="'url(assets/images/loans/' + loan.image + ')'" [style.top.%]="100 * (loan.to_refund_capital - loan.refund_capital) / loan.to_refund_capital"></div>
      <span class="bar" [style.top.%]="100 * (loan.to_refund_capital - loan.refund_capital) / loan.to_refund_capital">{{Math.floor(100 - 100 * (loan.to_refund_capital - loan.refund_capital) / loan.to_refund_capital)}}%</span>
    </div>
    <div class="infos">
      <h2>{{loan.title}}</h2>
      <div>Empruntés : <span [amount]="[loan.amount]"></span> à <strong>{{ loan.rate }}%</strong><br/>soit à rembourser : <span [amount]="[loan.to_refund]"></span><br/>(capital restant dû : <span [amount]="[loan.to_refund_capital - loan.refund_capital]"></span>)</div>
      <app-progress-bar [full]="loan.to_refund" [current]="loan.refund" [small]="true" />
      <app-progress-bar [full]="loan.to_refund_capital" [current]="loan.refund_capital" [title]="'Capital'" />
    </div>
  </div>
}