:host > .content {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  padding: 2rem 4rem;
  text-align: center;

  div + div {
    flex: 1;
  }
}

table {
  margin: 0 auto;
}

td, th {
  text-align: right;
  min-width: 140px;
  vertical-align: top;

  &:first-child {
    min-width: 0;
  }
}

tfoot {
  td {
    padding-top: 1rem;
    font-size: 1.2em;
  }
}

bk-chart {
  display: block;
  height: 500px;
}

.current {
  font-size: 1.8em;

  span:last-child {
    margin-left: 1rem;
    top: -4px !important;
    margin-right: -20%;
  }
}