@use '../../shared/styles/colors' as colors;

.wrapper {
	display: flex;
	gap: 50px;
	padding: 0 30px;
}

.chart {
	flex: 1;

	bk-chart {
		display: block;
		height: 300px;
	}
}

.tables {
	flex: 1;

	td,
	th {
		padding: 5px 10px;

		&:first-child {
			text-align: left;
			padding-right: 15px;
		}
	}

	thead {
		th {
			color: colors.$color-tertiary;
			text-transform: uppercase;
			font-weight: 100;
			font-size: 1.2em;
		}
	}

	tbody {
		td,
		th {
			font-size: 1.2em;
		}

		&:not(:first-of-type) {
			td,
			th {
				font-size: .85em;
			}
		}

		tr {
			&:first-child {
				> * {
					padding-top: 10px;
				}
			}
		}

		+ tbody {
			td, th {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
	}
}

.ranges {
	max-width: 1000px;
	margin: 20px auto 0;

	bk-chart {
		height: 180px;
		display: block;

		&:first-child {
			margin: 0 1px -21px 4px;
			height: 132px;
		}
	}
}