@use '../../shared/styles/colors' as colors;

.wrapper {
	display: flex;
	gap: 50px;
	padding: 0 30px;
}

.chart {
	flex: 1;

	bk-chart {
		display: block;
		height: 300px;
	}
}

.tables {
	flex: 1;
	font-size: .95em;

	td,
	th {
		padding: 5px 10px;

		&:first-child {
			text-align: left;
			padding-right: 15px;
		}
	}

	thead {
		th {
			font-weight: 200;
		}
	}

	tbody {
		td,
		th {
			font-size: 1.2em;
			position: relative;
			z-index: 0;
		}

		&:not(:first-of-type) {
			td,
			th {
				font-size: .85em;
			}
		}

		tr {
			&:first-child {
				> * {
					padding-top: 10px;
				}

				td {
					&::before {
						content: '';
						display: block;
						background-color: white;
						position: absolute;
						top: 6px;
						left: 2px;
						right: 2px;
						bottom: -32px;
						border-radius: .5rem;
						border-bottom-right-radius: 0;
						z-index: -1;
					}
				}
			}
		}

		+ tbody {
			td, th {
				padding-top: 4px;
				padding-bottom: 4px;

				&::before {
					height: 322px;
					left: auto !important;
					width: 100px;
					top: -6px !important;
					border-top-left-radius: 0 !important;
					border-top-right-radius: 0 !important;
					border-bottom-right-radius: .5rem !important;
				}
			}
		}
	}
}

.ranges {
	max-width: 1000px;
	margin: 20px auto 0;

	bk-chart {
		height: 180px;
		display: block;

		&:first-child {
			margin: 0 1px -21px 4px;
			height: 132px;
		}
	}
}