<h1><fa-icon [icon]="faPlug"></fa-icon>Consommation électrique</h1>

<div class="chart">
  <bk-chart
    initialData="elecData"
    [header]="false"
    [offFilters]="['Jour']"
    [minimum]="0"
  [chartOptions]="chartOptions"></bk-chart>
</div>

<div class="card">
  @if (years) {
    <table>
      <thead>
        <tr class="years">
          <th></th>
          @for (y of years; track $index) {
            <th><h2>{{ y.year }}</h2></th>
          }
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="total">Total (kWh)</th>
          @for (y of years; track $index; let first = $first; let last = $last; let i = $index) {
            <td class="total">{{ Math.ceil(y.total) }}
              @if (!last && !first) {
                <span class="evolution" [amount]="[(y.total / years[i - 1].total - 1) | percent:'1.0', { alwaysSign: true, sign: '%', color: true, tag: true }]"></span>
              }
            </td>
          }
        </tr>
        <tr>
          <th>∅ par mois</th>
          @for (y of years; track $index) {
            <td>{{ Math.round(y.avgPerMonth) }}</td>
          }
        </tr>
        <tr>
          <th>Min.</th>
          @for (y of years; track $index) {
            <td class="minmax" [innerHtml]="getMinimum(y.year)"></td>
          }
        </tr>
        <tr>
          <th>Max.</th>
          @for (y of years; track $index) {
            <td class="minmax" [innerHtml]="getMaximum(y.year)"></td>
          }
        </tr>
        <tr>
          <th>Facture</th>
          @for (y of years; track $index) {
            <td [amount]="[y.bill]"></td>
          }
        </tr>
        <tr>
          <th>∅ par kWh</th>
          @for (y of years; track $index) {
            <td [amount]="[y.avgPerKwh]"></td>
          }
        </tr>
      </tbody>
    </table>
  }
</div>