bk-chart {
    display: block;
    height: 300px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

.card {
    width: fit-content;
    margin: 5rem auto 0;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .03);
}

td, th {
    padding: .5em 2em;
    text-align: center;
}

.minmax {
    font-size: .75rem;
    line-height: 1rem;

    &::first-line {
        font-size: 1rem;
    }
}

.total {
    position: relative;
    font-weight: bold;
}

.evolution {
    display: block;
    width: fit-content;
    margin: .5rem auto 0;
}