bk-chart {
    display: block;
    height: 300px;
}

table {
    margin: 80px auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .03);
}

td, th {
    padding: .5em 2em;
    text-align: center;
}

.minmax {
    font-size: .75rem;
    line-height: 1rem;

    &::first-line {
        font-size: 1rem;
    }
}

.total {
    position: relative;
    padding-bottom: 1.3em;
    font-weight: bold;
}

.evolution {
    font-size: .75em;
    color: red;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.3em;

    &.better {
        color: green;
    }
}

.years {
    font-family: 'Sofia Sans Extra Condensed';
}