<h1>{{name}}</h1>
<div class="content" *ngIf="data">
    <div class="current-year">
        <div>
            <h3>{{ data.per_year[0].year }}</h3>
            <span class="renta">{{ data.per_year[0].value >= 0 ? '+' : '' }}{{ data.per_year[0].value | percent:'1.2-3' }}</span>
            <span [amount]="[data.per_year[0].plus, {alwaysSign: true, color: true}]"></span>
            <span [amount]="[data.per_year[0].minus, {alwaysSign: true, color: true}]"></span>
        </div>
        <div class="months" height="300">
            <ng-container *ngFor="let m of data.per_month">
                <div *ngIf="m.year === data.per_year[0].year" class="month">
                    <h3>{{ getMonth(m.month) }}</h3>
                    <ng-container *ngIf="m.value_plus != 0 || m.value_minus != 0; else elseBlock">
                        <canvas baseChart
                            [data]="[m.value_plus, m.value_minus]"
                            [labels]="['Entrées', 'Sorties']"
                            [colors]="[{backgroundColor: ['green', 'red']}]"
                            [options]="options"
                            type="doughnut"></canvas>
                        <span class="month-percent">
                                {{ m.value_plus >= -m.value_minus ? '+' : '' }}{{ (m.value_plus / -m.value_minus) - 1 | percent:'1.0-1' }}
                        </span>
                        <span [amount]="[m.value_plus, {alwaysSign: true, color: true}]"></span>
                        <span [amount]="[m.value_minus, {alwaysSign: true, color: true}]"></span>
                    </ng-container>
                    <ng-template #elseBlock>
                        <canvas baseChart
                            [data]="[1]"
                            [labels]="['Aucune transaction']"
                            [colors]="[{backgroundColor: ['lightgray']}]"
                            [options]="options"
                            type="doughnut"></canvas>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="previous-years">
        <ng-container *ngFor="let py of data.per_year; index as i">
            <div *ngIf="i > 0">
                <h3>{{ py.year }}</h3>
                <span class="renta">{{ py.value >= 0 ? '+' : '' }}{{ py.value | percent:'1.2-3' }}</span>
                <span [amount]="[py.plus, {alwaysSign: true, color: true}]"></span>
                <span [amount]="[py.minus, {alwaysSign: true, color: true}]"></span>
            </div>
        </ng-container>
    </div>

    <div class="down-data">
        <div>
            <h2>Dépenses de base</h2>
            <table>
                <tbody>
                    <ng-container *ngFor="let row of data.start">
                        <tr>
                            <td>{{row.title}}</td>
                            <td [amount]="[-row.value, {alwaysSign: true, color: true}]"></td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th [amount]="[-data.cost, {alwaysSign: true, color: true}]"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div>        
            <h2>Dernières transactions</h2>
            <table>
                <tbody>
                    <tr *ngFor="let row of data.last">
                        <td>{{row.date | date:'dd/MM/yy'}}</td>
                        <td>{{row.title}}</td>
                        <td [amount]="[row.value, {alwaysSign: true, color: true}]"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Occupations</h2>
            <app-re-bars [data]="data.occupied"></app-re-bars>
        </div>
    </div>
</div>