@use '../../shared/styles/colors.scss' as colors;

:host {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 35px);
}

.content {
    text-align: left;
    flex: 1;
    overflow: auto;

    .year {
        display: inline-block;
        margin: 0 30px;
    }

    .to-declare {
        text-align: center;
        border: 3px solid #333;
        padding: 3px 10px;
        margin-top: 10px;
        font-weight: bold;
    }
}

h2 {
    text-align: center;
}

caption {
    color: colors.$color-tertiary;
    padding-bottom: 10px;
}

td, th {
    text-align: left;
    padding: 0 5px;

    &.amount {
        text-align: right;
    }
}

.total,
.deficits {
    td, th {
        text-align: right;
    }
}

tbody + tbody > tr:first-child > * {
    padding-top: 10px;
}

.profitability {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.current-year {
    display: flex;

    > div:first-child {
        text-align: center;
        font-size: 1rem;

        h3 {
            font-size: 2rem;
            margin-bottom: 0;
            margin-top: 0;

            + span {
                font-size: 1.7rem;
                margin: 40px 0;
                font-weight: bold;
            }
        }

        > span {
            display: block;
            text-align: center;
        }
    }
}

.months {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
}

.month {
    flex: 1;
    max-width: 100px;
    margin: 0 18px;
    position: relative;
}

.month-percent {
    font-size: .85rem;
    font-weight: bold;
    color: rgb(158, 158, 158);
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
}

.month span,
h3 {
    display: block;
    text-align: center;
}

h3 {
    margin-top: 0;
}

canvas {
    width: 30px;
    height: 30px;
}

.previous-years {
    > div {
        display: inline-block;
        text-align: center;

        span {
            display: block;
        }
    }

    .card {
        margin-top: 0;
    }
}

.down-data {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;;
}

.renta {
    width: fit-content;
    margin: 0 auto;
}