<table>
  <thead>
    <tr>
      <th></th>
      @for (y of getYears(); track $index) {
        <th>{{ y }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (b of data; track $index) {
      <tr>
        <th>
          <type [icon]="b.icon" size="medium" />
          <span>{{ b.legend }}</span>
        </th>
        @for (y of b.years; track $index; let last = $last; let i = $index) {
          <td>
            <div class="month">
              <span class="monthly" [amount]="[y.valueMonth]"></span>
              @if (!last && b.years[i + 1].valueMonth > 0 && y.valueMonth != b.years[i + 1].valueMonth) {
                <span class="evolution"
                  [class.better]="y.valueMonth < b.years[i + 1].valueMonth"
                >{{ y.valueMonth > b.years[i + 1].valueMonth ? '+' : '' }}{{ (y.valueMonth / b.years[i + 1].valueMonth - 1) | percent:'1.0' }}</span>
              }
              <span class="yearly" [amount]="[y.valueYear]"></span>
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>