@import '../../shared/styles/colors';

:host {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
}

.content {
	display: flex;
	flex: 1;
}

bk-chart {
	flex: 1 1 0;
	width: calc(100% - 600px);
	max-height: 600px;
}

.types {
	width: 600px;

	ul {
		list-style-type: none;

		li {
			display: inline-block;
			
			label {
				margin: 5px;
				position: relative;

				span {
					color: #ccc;
					font-weight: bold;
					font-size: .7em;
					position: absolute;
					top: auto;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}

		&:first-child {
			label {
				margin: 5px 25px !important;
			}
		}
	}
}

.spendings-list {
	margin: 0 auto;
	border-collapse: collapse;

	tr {
		&.month-0 + .month-1,
		&.month-1 + .month-0 {
			td {
				border-top: 1px solid lightgray;
			}
		}
	}

	td {
		&:first-child {
			font-weight: bold;
		}
		
		&:nth-child(2) {
			text-align: left;
		}
	}
}