<h1>Dépenses</h1>
<div class="content">
  <div class="types">
    <ul>
      @for (t of types; track $index; let i = $index) {
        @if (i < 3) {
          <li>
            <input type="checkbox" [id]="'type-' + t.id" name="types" (change)="toggleType(t)" />
            <label [for]="'type-' + t.id">
              <type [icon]="t" size="big"></type>
              <span>{{t.total}}</span>
            </label>
          </li>
        }
      }
    </ul>
    <ul>
      @for (t of types; track $index; let i = $index) {
        @if (i >= 3) {
          <li>
            <input type="checkbox" [id]="'type-' + t.id" name="types" (change)="toggleType(t)" />
            <label [for]="'type-' + t.id">
              <type [icon]="t"></type>
              <span>{{t.total}}</span>
            </label>
          </li>
        }
      }
    </ul>
    @if (spendings) {
      <table class="spendings-list">
        <thead>
          <tr>
            <td></td>
            <td><input type="text" [(ngModel)]="searchSpending" (change)="search()" /></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          @for (spending of displaySpendings; track $index; let i = $index) {
            <tr class="{{'month-' + (i >= 1 && (displaySpendings[i].date.getMonth() != displaySpendings[i-1].date.getMonth() || displaySpendings[i].date.getFullYear() != displaySpendings[i-1].date.getFullYear()) ? '1' : '0')}}">
              <td>{{spending.date | date:'dd/MM/yy'}}</td>
              <td>{{spending.title}}</td>
              <td [amount]="[spending.amount, {alwaysSign: true, color: true}]"></td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
  <bk-chart initialData="typesChartData"></bk-chart>
</div>